/* Layout
================================= */

body {
	padding-top: 250px;
	font-family: 'Exo', sans-serif;
	background: url("../img/boxes.jpg") repeat;
	background-position: 65px -40px;
}

.container {
	max-width: 1000px;
}


/* Navbar
================================= */

.navbar {
   background-color: transparent;
   background: transparent;
   border: none;
}

.navbar li { 
	color: transparent; 
} 

.navbar-brand {
	font-size: 50px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

/* Jumbotron
================================= */

.jumbotron {
	text-align: center;
	background-color: rgba(0, 0, 0, .95);
	padding-top: 80px;
	padding-bottom: 100px;
	color: beige;
	width: 80%;
	margin: auto;
}

.jumbotron h1,
.navbar-brand {
	font-family: 'Monofett', cursive;
}

.successMessage {
	color: white;
	padding-top: 20px;
	display: none;
}

.hotCold {
	display: none;
}

.success {
	background-color: white;
	color: black;
}

.success .btn.btn-success,
.success .btn.btn-default {
	background-image: none;
	background-color: black;
}

.success .successMessage {
	color: black;
	font-size: 50px;
}


/* Buttons
=================================== */
.btn.btn-success,
.btn.btn-default {
	background-image: none;
	background-color: rgba(0,0,0,0);
	border-color: white;
	color: white;
}

.btn.btn-success:hover,
.btn.btn-default:hover {
	background-color: white;
	color: black;
}

#submit.btn.btn-default:focus,
#submit.btn.btn-default:active {
	border: white;
	outline: white;
	box-shadow: none;
}

/* Input
=================================== */

.form-control:active,
.form-control:focus {
	background-color: beige;
	border: none;
}

/* Tables
=================================== */

.guessTable{
	background-color: rgba(0, 0, 0, .8);
	color: white;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 100px;
	display: none;
	width: 50%;
}

.guessTable th {
	color: white;
}

.guessTable caption {
	font-size: 20px;
	color: white;
	background-color: black;
}
